body {
  padding: 10px;
  font: 14px ;
  font-family: sans-serif;
}
a {
  color: #00B7FF;
}
.employees {
	width: 80%;
}
.employee {
	list-style: none;
	font:14px;
	padding: 5px;
	border-bottom: 1px lightgrey solid;
	display: flex;
	align-items: center;
	
}

.name {
	width: 250px;
	/*border: 1px solid red;*/
}
.cdate {
	font-size: 12px;
	width: 200px;
	/*border: 1px solid blue;*/
}
.mdate {
	font-size: 12px;
	width: 200px;
	margin-left: 10px;
	/*border: 1px solid blue;*/
}
.header {
	font-weight: bold;
	font-size: 16px;
}
.del {
	width: 60px;
	background-color: red;
	color: white;
	padding :5px;
	margin: 0 5px;
	border-radius: 5px;
}
.view {
	width: 60px;
	background-color: #B9B9B9;
	color: white;
	padding :5px;
	border-radius: 5px;
	margin: 0 5px;
}
.dview {
	display: flex;
	justify-content: flex-start;
}
.col1 {
	margin: 10px;
	width: 100px;
	font-weight: bold;
}
.detail {
	margin: 10px;
	width: 250px;
}
.input {
	margin: 10px;
	width: 150px;
}
.submit {
	margin-left: 150px;
}

